[submodule "Azure HA DR/github-copilot-agent-skills"]
	path = Azure HA DR/github-copilot-agent-skills
	url = https://github.com/thomast1906/github-copilot-agent-skills.git

[submodule "AzureLandingZoneNetworkObservability"]
	path = AzureLandingZoneNetworkObservability
	url = https://github.com/appliedailearner/AzureLandingZoneNetworkObservability.git

[submodule "Cloud-readiness-assessment"]
	path = Cloud-readiness-assessment
	url = https://github.com/appliedailearner/Cloud-readiness-assessment.git

[submodule "audit_repo"]
	path = audit_repo
	url = https://github.com/appliedailearner/AzureLandingZoneNetworkObservability.git

[submodule "azure-agentic-ai-architect-labs-publish"]
	path = azure-agentic-ai-architect-labs-publish
	url = https://github.com/appliedailearner/azure-agentic-ai-architect-labs.git

[submodule "github-labs-repo"]
	path = github-labs-repo
	url = https://github.com/appliedailearner/azure-agentic-ai-architect-labs.git

[submodule "terraform_repo"]
	path = terraform_repo
	url = https://github.com/appliedailearner/The-Zero-Trust-Trap-Why-Your-Azure-App-Service-Private-Endpoints-Keep-Breaking.git

[submodule "uklifelabsaisolution"]
	path = uklifelabsaisolution
	url = https://github.com/appliedailearner/uklifelabsaisolution.git
